*{
    
}


ul {
    background-color: black;
    border-bottom-left-radius: 25px;
    list-style-type: none;
    display: flex;
    padding: 20px;
}
li {
    text-decoration: none;
    margin-left: 20px;
}
li a {
    text-decoration: none;
    font-family: sans-serif;
    color:orange;
}
li a:hover {
    border-bottom: solid 1px orange;
    color: rgb(211, 145, 23);
}
.about {
    border-bottom: 100px;
    /* margin-left: 30px; */
    letter-spacing:2px ;
    font-family: sans-serif;
    background-color: rgb(34, 31, 31);
    /* width: fit-content; */
 padding: 30px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius:30px;
 /* border-top-left-radius: 50px; */
 /* border-top-right-radius: 35px;  */
 margin-bottom: 30px;

}
.about h1 {
    color: white;
}
.about h3 {
    color: orange;
}
.about span {
    color: white;
    font-style: italic;
}
.allbtn {
    margin-left: 50px;
    margin-bottom:60px;
    border-radius: 30%;
}
.hire{
    border-radius: 30px;
    padding: 10px;
    border-top: 30px;
    background-color: orange;
    border: white;
}
.hire:hover{
    background-color: black;
    color: orange;
    padding: 12px;
    transition: 0.5s ease-in-out;
}
.resume {
    border-radius: 30px;
    padding: 15px;
    border-top: 30px;
    background-color: black;
    border: white;
    margin-left: 15px;
    color: white;
}
.resume:hover{
    background-color:orange;
    color: black;
    padding: 18px;
    transition: 0.5s ease-in-out;}
    .grids {
        background-color: black;
        /* width: fit-content; */
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 30px;
       text-align: center;
        margin-left: 35px;
    }
    .grids h3 {
        color: white;
        font-family: sans-serif;
        text-align: center;
    }
    .grids h5 {
        color: rgb(197, 143, 42);
        border-bottom: 15px;
    }
    .grids span{
        color: white;
        font-family: sans-serif;
    border-bottom: 45px;
    }
    .contact {
        border-top-left-radius: 100px;
        border-top-right-radius: 30px;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.904);
        
        }
        .contact h1 {
            color: orange;
            font-family: sans-serif;
        }
        .contact h5 {
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        }
        label {
            color: white;
            font-family:sans-serif
        }
        input {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid orange;
        }
        input:focus {
            outline: none;
            color: white;
        }
        textarea {
            margin-top: 20px;
        }
        textarea:focus {
            outline: none;
            color: white;
        }
        .submit {
            margin-top: 15px;
            border-radius: 15px;
    padding: 10px;
    border-top: 30px;
    background-color: orange;
    border: white
        }
        .footer {
            text-align: center;
            background: black;
            margin-top: 70px;
        }
        .footer h6 {
            color: orange;
            font-style: oblique;
        }

    